<header>
	<nav class="navbar">
		<div class="wrapper">
			
			
	    <div class="navbar-brand">
		    <h1>Case Solved</h1>
		    <h4>IT Serivce and Repair, Astoria</h4>
	    </div>
	    <div class='toggle-menu'>
	    	<span class="fa-stack fa-sm">
				  <i class="fa fa-square-o fa-stack-2x"></i>
				  <i class="fa fa-bars fa-stack-1x "></i>
				</span>
	    </div>
	    <div class="nav-menu" id='nav-menu'>
		   	<a href="#service" class='service-link'>Service</a>
		    <a href="#contact">About Us</a>
		    <a href="#contact">Contact</a>
		    <a href="#testimonials">Testimonials</a>
		    <hr>
		    <a href="https://www.yelp.com/biz/case-solved-astoria-5">Find Us on Yelp</a>
		    <a href="tel:9176986268">Call Us</a>
	    </div>
		</div>
 	</nav>
	<div class="landing-pic">
	</div>
</header>