.footer-wrapper
	background: #000
	padding: 10px 0
	font-family: 'Catamaran', sans-serif
	p
		font-size: 12px
		text-align: center
		color: #fff
		padding: 10px 0
		font-weight: 100
		letter-spacing: 0.3em
	