	<section class="diagnostic" id='things-we-do'>
			<div class="diag-icon">
				<div class="diag-left-icon">
					<span class="fa-stack fa-4x">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
					</span>
				</div>
				<div class="diag-left-desc">
					<h1>We'll diagnose</h1>
					<h3>and repair any problem</h3>
				</div>
			
			</div>
			<div class="diag-desc">
				<p>We do not ask payment to take a look at your problem. 
				<p>Regardless what type of device, we will find out what's wrong with it, and give you an estimated price and turn-around time.</p>
				<p>All these information will cost you nothing.</p>
			</div>
	</section>