<section class="service" id='service'>

		<section class="works">
		<div class="service-title">
			<h1>Service</h1>
		</div>			
		<input id="home-service-toggle" type="checkbox" name="home-service-toggle">
		<input id="business-service-toggle" type="checkbox" name="business-service-toggle">

			<div class="service-item" id='home'>
				
				<div class="service-icon">
					<span class="fa-stack fa-3x">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-home fa-stack-1x"></i>
					</span>
				</div>

				<div class="service-des">
					<h3>For Home</h3>
					<h5>Let Case Solved be your nerd friend.</h5>
					<div id="home-service">
						<p>We can fix your desktop, laptop computers, phones, and your game console that we were never invited to play. <br><br>Let us worry about the problem so you don't have to.</p>
					</div>
					<label id="home-service-btn" for="home-service-toggle"></label>
				</div>
			</div>


			<div class="service-item" id='business'>
				<div class="service-icon">
					<span class="fa-stack fa-3x">
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-building fa-stack-1x"></i>
					</span>
				</div>

	
				<div class="service-des">
					<h3>For Bussiness</h3>
					<h5>Let Case Solved be your tech support.</h5>
					<div id="business-service">
						<p>Your business might not have the time and money to hire a full-time IT staff. However, your business will likely to have technical issues that needs to be taken care of immediately. 

					</div>
					<label id="business-service-btn" for="business-service-toggle"></label>

				</div>
			</div>
</section>
	<div class="call-for-action">
		<a href="#things-we-do">Find Out More</a>
		<a href="tel:9292668567"><i class="fa fa-phone" aria-hidden="true"></i>929-266-8567</a>
	</div>
	</section>
