<section id='testimonials'>
	<div class="testimonial-wrapper">
	
	<div class="testimonials">
	<h1>Happy Clients</h1>
	{% for item in site.data.testimonial %}
		<div class="testimonial-item">
			<div class="desc">
					<p>{{ item.text }}</p>
			</div>

			<div class="name">
				<div class="avatar">
					<img src="{{ item.picture }}">
				</div>
				<label>{{ item.name }}</label>
			</div> 		
		</div>
		{% endfor %}


	</div>

		<div class="call-for-action">
			<a href="https://goo.gl/WIKc7B"><i class="fa fa-globe" aria-hidden="true"></i>See More!</a>
		</div>
	</div>

</section>