<!DOCTYPE html>
<html>
<head>
	<title>Case Solved computer repair, phone repair, astoria, home service, office service</title>
	<meta charset="utf-8">
	<meta name="description" content="{{ site.description}}">
  <meta name="keywords" content="computer repair, phone repair, astoria, home service, office service">
  <meta name="author" content="Gang Zhao, Case Solve Corp">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- <script type="text/javascript" src="maps.googleapis.com/maps/api/js?key=AIzaSyARtjRKK-t7OEeUBYSdfXlfHHWQtA4Ola8" async="" defer="defer" type="text/javascript"></script> -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>



</head>
<body>

{% include header.html %}
{% include landing.html %}
{% include footer.html %}

	<script>
		if ($(window).width() <=768) {
			$(document).on('click', function (e) {
				if ($(e.target).closest("#nav-menu").length === 1 || 
						$(e.target).closest(".toggle-menu").length === 1){
		
	        		$(".nav-menu").slideToggle();
	        	} else if ($('.nav-menu').css('display') === 'block') {
	        		$(".nav-menu").slideToggle();	        		
	        	}
		});
	}

		$(window).scroll(function() {
			if ($('.navbar').offset().top > $('.navbar').height()) {
				$('.navbar').css('background-color','#333');
				$('.navbar-brand').css('color', '#fff');
				$('.nav-menu').css('background', '#333');
				$('.nav-menu a').css('color', '#fff');
				if ($(window).width()<=1023) {							
					$('.toggle-menu').css('color', '#fff');
				} 			
			} else {
				$('.navbar').css('background-color','#fff');
				$('.navbar-brand').css('color', '#777');
				$('.nav-menu').css('background', '#fff');
				$('.nav-menu a').css('color', '#777');
				$('.nav-menu a:nth-last-of-type(-n+2)').css('color', '#fff');
				if ($(window).width()<=1023) {							
					$('.toggle-menu').css('color', '#777');
				} 
			}
		});


		$(document).on('click', 'a', function(event){
			if (this.href.indexOf('#') !== -1) {
	    	$('html, body').animate({
	      	  scrollTop: $( $.attr(this, 'href') ).offset().top -20
	    	}, 500);
			} 
});

function map_init() {
    var storeLocation = new google.maps.LatLng(40.7741313,-73.9092129,18);
    var mapOptions = {
        zoom: 16,
        center: storeLocation,
        mapTypeId: google.maps.MapTypeId.map
    };
    var map = new google.maps.Map(document.getElementById('store-map'), mapOptions);

  //    //=====Initialise Default Marker    
  //   var marker = new google.maps.Marker({
  //       position: storeLocation,
  //       map: map,
  //       title: 'Case Solved'
  //    //=====You can even customize the icons here
  //   });

  //    //=====Initialise InfoWindow
  //   var infowindow = new google.maps.InfoWindow({
  //   	content: '{% include landing/map-marker.html %}'
  //  });

  //  //=====Eventlistener for InfoWindow
  // google.maps.event.addListener(marker, 'click', function() {
  //   infowindow.open(map,marker);
  // });
}

google.maps.event.addDomListener(window, 'load', map_init);

	</script>

	

</body>
</html>